@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUẢN LÝ KHO HÀNG GIÀY THỂ THAO</h1>
    <p class="lead">pHẦN MỀM QUẢN LÝ KHO HÀNG GIÚP NGƯỜI DÙNG DỄ DÀNG QUẢN TRỊ </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

